<nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand text-white" href="/">Cohelp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link  text-white" href="vaccine">Vaccine Slots</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle  text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Covid Stats
              </a>
              <ul class="dropdown-menu dropdown-menu-dark  text-white bg-dark" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item text-white" href="/india">India</a></li>
                <li><a class="dropdown-item text-white" href="/states">State wise</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle  text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                More
              </a>
              <ul class="dropdown-menu dropdown-menu-dark  text-white bg-dark" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item text-white" href="/publicadvice">Covid Public Advice</a></li>
                <li><a class="dropdown-item text-white" href="/vacinfo">Covid Vaccines</a></li>
                <li><a class="dropdown-item text-white" href="/bmi">Know your BMI</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>